/* TODO: Need to add the font style */


:root {
  --bg-color: #f8f7f8;
  --hovered-color: #f1edec;
  --main-win: #fafafa;
  --main-button: #c4a78a;
  --search-bg: #f4f3f5;
  --text: #2f2e32;
  --test: #32a852;
}

html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
}


body {
  min-width: 320px;
  min-height: 100vh;
  /* background-image: url('/gridbg.png'); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
}

.app-shell {
  width: calc(100% - 3rem);
  min-height: calc(100vh - 3rem);
  /* margin: 1.5rem; */
  padding: 2rem;
  background: var(--test);
  backdrop-filter: blur(4px); /*for glass effect*/

  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 1rem;
}

.sidebar {
  background: var(--bg-color);
  padding: 1rem;
}

.sidebar-nav {
  display: grid;
  gap: 0.5rem;
}

.sidebar-nav a {
  text-decoration: none;
  color: var(--text);
  padding: 12px;
  border-radius: 10px;
}

.sidebar-nav a:hover {
  background-color: var(--hovered-color);
}







